Config(
    extensions: [AVIF, WEBP],
    default_format: JPEG,
    root: "/build/media",
    url: "/media/{size}/{path}.{ext}",
    cache_directory: "/build/cache",
    sizes: {
        "low": Size(width: 300, height: 300),
        "medium": Size(width: 600, height: 600),
        "high": Size(width: 1200, height: 1200),
        "product": Size(width: 546, height: 302, pattern: "^products/", pre_optimize: true),
    },
    logger: Logger(
        path: "/build/debug/impress.log",
        level: WARN
    ),
)
