Config(
    extensions: [WEBP],
    default_format: JPEG,
    root: "/build/media2",
    url: "/test/images/p/media/image/{path}.{ext}?p={size}&type=product",
    cache_directory: "/build/cache",
    pre_optimizer_threads: 2,
    sizes: {
        "image_product": Size(width: 600, height: 400, pattern: "^products/", pre_optimize: true),
    },
    logger: Logger(
        path: "/build/debug/impress.log",
        level: WARN
    ),
)
